<div class="container-fluid">
  <table class="song-table table table-striped">
    <thead>
      <tr>
        <th>Song name</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
    </thead>
    <%= paginate @songs %>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
            <td><%= song.title %></td>
            <td><%= song.artist_name %></td>
            <td><%= song.album_title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @error %>
  <div class="alert alert-danger" role="alert">
    <strong><%= @error %></strong>
  </div>
<% end %>
