<nav class="navbar navbar-light bg-light">

  <%= form_tag(
    search_songs_path,
    method: "get",
    remote: true,
    html: {class: "form-inline", id: "song-search"}
    ) do %>
    <%= label_tag("song[title]", "Song") %>
    <%= text_field_tag("song[title]",) %>

    <%= label_tag("song[artist_name]", "Artist") %>
    <%= text_field_tag("song[artist_name]",) %>

    <%= label_tag("song[album_title]", "Album") %>
    <%= text_field_tag("song[album_title]") %>

    <%= submit_tag("Search") %>
  <% end %>
</nav>